html{
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1% auto 3%);
    margin-top: 0px;
}

nav a{
    color:white;
}
 ul {
    display: flex;
    position:fixed;
    margin-top:0px;
    left: 0px;
    right:0px;
    background-color: rgb(255, 187, 86);
    list-style-type: none;
    padding: 1%;
    justify-content: space-between
}

a{
 text-decoration: none;
}

#feedContent{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

img{
    width:100%;
}

.post{
    border: solid 2px grey; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.post p , .post h3{
    margin-left: 10px;
}
footer{
    /* display:flex; */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

footer > a{
    grid-column-start: 2;
    grid-column-end:3;
}

#newPost {
    width:20%;
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    position: fixed;
    top: 25%;
    right:3%;
}

input button {
    width: 80%;
}