html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}
#register_div {
    width: 55%;
}

.register {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-flow: column;
    width: 28%;
}
.input {
    padding: 10px;
    margin: 5px;
    width: 90%;
}
#display {
    padding-top: 20px;
}
.success {
    color: teal;
    margin: 10px;
}
.error {
    color: red;
    margin: 10px;
}
.email {
    color: red;
    font-weight: 500;
    margin: 10px;
    padding-top: 20px;
}

#register_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#register_submit {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    float: right;
}
#register_link {
    padding-left: 17%;
    font-size: 94%;
}

