html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}
/* nav a{
    color:white;
    text-decoration: none;
}

 ul {
    display: flex;
    position:fixed;
    margin-top:0px;
    left: 0px;
    right:0px;
    background-color: rgb(255, 187, 86);
    list-style-type: none;
    padding: 1%;
    justify-content: space-between;
} */

.register {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-flow: column;
    width: 28%;
}
.input {
    padding: 10px;
    margin: 5px;
    width: 90%;
}

#register_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#register_submit {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    float: right;
}
#register_link {
    padding-left: 17%;
    font-size: 94%;
}

